{% extends "template.html" %}
    {% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-sm-5">
    <form method="post" action="">
        {% csrf_token %}
        
            {{form | crispy}}

            <div class="col-sm-3">
                <a href="{% url 'computerlist' %}" class="btn btn-default btn-block btn-sm"><i class="glyphicon glyphicon-backward"></i>Back</a>
            </div>

            <div class="col-md-2">
                <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"><strong> Save Changes</strong></i>
                </button>
            </div>
    </form>
</div>
    <div class="col-sm-7 aligcenter">
        <div>
            <img src="/static/img/computer.png" style="width: 100%">
        </div>

    </div>
</div>





{% endblock %}